/CPU/PROJECT/db
/CPU/PROJECT/CPU.pof
/CPU/PROJECT/CPU.sof
/CPU/PROJECT/incremental_db
/CPU/PROJECT/CPU.done
/CPU/PROJECT/CPU.flow.rpt
/CPU/PROJECT/CPU.map.rpt
/CPU/PROJECT/CPU.map.summary
/CPU/PROJECT/CPU.qsf
